* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F6F6F6;
    --text-color: #212121;
    --heading-color: #212121;
    --paragraph-color: #888888;
    --hr-color: #212121;
    --font-family-header: 'Cabinet Grotesk', sans-serif;
    --font-family-paragraph: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

body.dark-theme {
  --background-color: #121212;
  --text-color: #eeeeee;
  --heading-color: #ffffff;
  --paragraph-color: #bbbbbb;
  --hr-color: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    position: fixed;
    width: 97%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: var(--hr-color) 1px solid;
    background-color: var(--background-color);
}

.navbar h3 {
    color: var(--text-color);
    font-family: var(--font-family-paragraph);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-family-paragraph);
    font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#theme-toggle {
  font-size: 1.8rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

section {
    height: 100vh;
}

#Home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.home-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: #F5F5F5 3px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.home-content h2 {
    font-size: 2rem;
    font-family: var(--font-family-header);
    font-weight: 800;
    color: var(--heading-color);
    letter-spacing: 2px;
}

.home-content h4 {
    font-size: 18px;
    font-family: var(--font-family-header);
    font-weight: 700;
    color: var(--paragraph-color);
    letter-spacing: 1px;
}

.home-content p {
    font-size: 15px;
    font-family: var(--font-family-paragraph);
    font-weight: 500;
    max-width: 700px;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
}

.home-content a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-family-paragraph);
    font-weight: bold;
    cursor: pointer;
    border: #212121 2px solid;
    padding: 1rem;
    border-radius: 10px;
    background-color: #FF6666;
}

.home-content a:hover {
    transform: translateY(-0.33em);
}

.home-content a:active {
    transform: translateY(0);
}

#Skill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill-heading span {
    color: #FF6666;
}

.skill-heading h2 {
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 800;
    font-family: var(--font-family-header);
    letter-spacing: 1.5px;
}

.skill-heading h4 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-family-paragraph);
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
}

.skill-item {
  width: 250px;
  height: 180px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon i {
  font-size: 3rem;
}

.skill-percent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.skill-percent span {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
}

.skill-bar {
  width: 100px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto;
}

.skill-progress {
  height: 100%;
  background-color: #4e89ff;
  border-radius: 3px;
  transition: width 0.6s ease;
}

#Contacts {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-content {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
} 

.contact-content h2 {
  font-size: 2rem;
  font-family: var(--font-family-header);
  margin-bottom: 0.5rem;
}

.contact-content p {
  font-size: 1rem;
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #222;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-family-paragraph);
  background: #fff;
}
.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form button {
  background:  #AFDDFF;
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-family: var(--font-family-paragraph);
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-socials {
  margin-top: 1.5rem;
}

.contact-socials h4 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem;
}

.contact-socials a {
  font-size: 2.5rem;
  text-decoration: none;
}

.ri-facebook-fill {
  color: #4e89ff;
}

.ri-instagram-fill {
  color: #FF0B55;
}

.ri-linkedin-box-fill {
  color: #4e89ff;
}

.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    max-width: 320px;
    background: var(--background-color);
    flex-direction: column;
    gap: 1.5rem;
    padding: 15rem 2rem 2rem 4rem;
    box-shadow: 2px 0 16px rgba(0, 0, 0, 0.1);
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 2000;
  }

  .nav-links li a {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .nav-links.active {
    transform: translateX(0);
    display: flex;
  }

  #theme-toggle {
    font-size: 2rem;
  }
}
